doctype 5
html
	head
		title= title
		meta(name='viewport',content='width=device-width,initial-scale=1,user-scalable=no')
		meta(name="apple-mobile-web-app-capable", content="yes")
		link(rel="apple-touch-startup-image", href="/images/axtime-ios-startup-748x1024.png", media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)")
		link(rel="apple-touch-startup-image", href="/images/axtime-ios-startup-768x1004-portrait.png", media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)")
		link(rel="apple-touch-startup-image", href="/images/axtime-ios-startup-320x460.png", media="screen and (max-device-width: 320px)")
		link(rel="apple-touch-icon", href="/images/axtime-apple-touch-icon-57.png")
		link(rel="apple-touch-icon", sizes="72x72" href="/images/axtime-apple-touch-icon-72.png")
		link(rel="apple-touch-icon", sizes="114x114" href="/images/axtime-apple-touch-icon-114.png")
		link(rel='stylesheet', href='/v1.3/jquery.mobile-1.3.0.min.css')
		link(href="/style.css", rel="stylesheet")
		script(src="/scripts/jquery-1.9.1.min.js")
		script(src="/jquery.mobile-1.3.0.min.js")
		block head
	body
		block content
		